<a href="https://colab.research.google.com/github/mrzResearchArena/TF-2.X/blob/master/pandas-ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

### [1]. Data Frame:

In [14]:
D = pd.DataFrame(
    data={'column-1':[10, 20, 30], 'column-2':[5, 7, 9],}   ### Core Dictionary Type
)

D

   column-1  column-2
0        10         5
1        20         7
2        30         9

In [21]:
D = pd.DataFrame(
    data=[[10, 20, 30], [5, 7, 9]],   ### Core Array Type
    columns=['column-1', 'column-2', 'column-3'],
)

D

   column-1  column-2  column-3
0        10        20        30
1         5         7         9

In [60]:
D = pd.DataFrame(
    data=np.random.randn(10, 3),   ### Core Array Type
    columns=['column-1', 'column-2', 'column-3'],
)

D

   column-1  column-2  column-3
0 -1.333201 -0.097572  0.907351
1  0.033548  1.156462 -0.889979
2 -0.029130 -1.563413 -0.934621
3  0.809278  1.325084  0.367305
4  0.289567  1.031046  0.652340
5 -0.446625  1.219556  0.500452
6 -0.002617  1.086762  0.132494
7 -0.089324 -0.552753  0.146106
8 -0.279178 -1.378341  2.048255
9  1.068534 -0.433047 -0.216887

### [2]. Slicing:

In [61]:
D['column-1']   ### Column-wise

0   -1.333201
1    0.033548
2   -0.029130
3    0.809278
4    0.289567
5   -0.446625
6   -0.002617
7   -0.089324
8   -0.279178
9    1.068534
Name: column-1, dtype: float64

In [62]:
D[0:5]   ### Row-wise

   column-1  column-2  column-3
0 -1.333201 -0.097572  0.907351
1  0.033548  1.156462 -0.889979
2 -0.029130 -1.563413 -0.934621
3  0.809278  1.325084  0.367305
4  0.289567  1.031046  0.652340

In [63]:
D.loc[0:5, ['column-1','column-2']]   ### Both row and column wised

   column-1  column-2
0 -1.333201 -0.097572
1  0.033548  1.156462
2 -0.029130 -1.563413
3  0.809278  1.325084
4  0.289567  1.031046
5 -0.446625  1.219556

In [0]:
### Note-1: loc  --> MATLAB like indexing, column name should be exact.
### Note-2: iloc --> Python like indexing, column name convert into 0, 1, 2, and so on.

In [75]:
# D.loc[0:5, 0:1]   ### Error
D.iloc[0:5, 0:2]    ### Both row and column wised

   column-1  column-2
0 -1.333201 -0.097572
1  0.033548  1.156462
2 -0.029130 -1.563413
3  0.809278  1.325084
4  0.289567  1.031046