<a href="https://colab.research.google.com/github/mrzResearchArena/TF-2.X/blob/master/pandas-ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

### [1]. Data Frame:

In [21]:
# Without Column Name(s)

D = pd.DataFrame(
    data=[[10, 20, 30], [5, 7, 9]]    ### Core Array Type
)

D

    0   1   2
0  10  20  30
1   5   7   9

In [23]:
# With Column Name(s)

D = pd.DataFrame(
    data=[[10, 20, 30], [5, 7, 9]],   ### Core Array Type
    columns=['column-1', 'column-2', 'column-3'],
)

D

   column-1  column-2  column-3
0        10        20        30
1         5         7         9

In [24]:
# With Column Name(s)

D = pd.DataFrame(
    data={'column-1':[10, 20, 30], 'column-2':[5, 7, 9],}   ### Core Dictionary Type
)

D

   column-1  column-2
0        10         5
1        20         7
2        30         9

In [25]:
# With Column Name(s)

D = pd.DataFrame(
    data=np.random.randn(10, 3),   ### Core Array Type
    columns=['column-1', 'column-2', 'column-3'],
)

D

   column-1  column-2  column-3
0  0.948045 -0.167416 -1.086077
1  0.461851 -0.879486  1.025902
2 -1.111762  0.641856  1.919885
3 -1.556832  0.267907 -1.143204
4 -0.254203 -0.383504  1.095285
5  0.293832 -0.956400  1.269000
6 -0.541825 -2.011918  0.237446
7 -1.656113 -0.892759 -1.590269
8  0.113843 -1.523813  0.708136
9 -1.053997 -0.718113  1.454152

### [2]. Slicing:

In [26]:
D['column-1']             ### Column-wise
# Note: D[['column-1']]   ### Column-wise; it is the same.

0    0.948045
1    0.461851
2   -1.111762
3   -1.556832
4   -0.254203
5    0.293832
6   -0.541825
7   -1.656113
8    0.113843
9   -1.053997
Name: column-1, dtype: float64

In [27]:
# D['column-1', 'column-3']   ### Column-wise; Error!

D[['column-1', 'column-3']]   ### Column-wise; Fixed the error.

   column-1  column-3
0  0.948045 -1.086077
1  0.461851  1.025902
2 -1.111762  1.919885
3 -1.556832 -1.143204
4 -0.254203  1.095285
5  0.293832  1.269000
6 -0.541825  0.237446
7 -1.656113 -1.590269
8  0.113843  0.708136
9 -1.053997  1.454152

In [30]:
D[0:5]                    ### Row-wise or, Sample-wise
# Note: D[0:5, 0:1]       ### Error! (Errors will disappear, if the column names are numerics.)

   column-1  column-2  column-3
0  0.948045 -0.167416 -1.086077
1  0.461851 -0.879486  1.025902
2 -1.111762  0.641856  1.919885
3 -1.556832  0.267907 -1.143204
4 -0.254203 -0.383504  1.095285

In [31]:
D.loc[0:5, ['column-1','column-2']]   ### Both row-wised and column-wised

   column-1  column-2
0  0.948045 -0.167416
1  0.461851 -0.879486
2 -1.111762  0.641856
3 -1.556832  0.267907
4 -0.254203 -0.383504
5  0.293832 -0.956400

In [0]:
### Note-1: loc  --> MATLAB like indexing, column name should be exact.
### Note-2: iloc --> Python like indexing, column name convert into 0, 1, 2, and so on.

In [35]:
# D.loc[0:5, 0:1]   ### Error!
D.iloc[0:5, 0:2]    ### Both row-wised and column-wised

   column-1  column-2
0  0.948045 -0.167416
1  0.461851 -0.879486
2 -1.111762  0.641856
3 -1.556832  0.267907
4 -0.254203 -0.383504