<a href="https://colab.research.google.com/github/mrzResearchArena/TF-2.X/blob/master/pandas-ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

### [1]. Data Frame:

In [14]:
D = pd.DataFrame(
    data={'column-1':[10, 20, 30], 'column-2':[5, 7, 9],}   ### Core Dictionary Type
)

D

   column-1  column-2
0        10         5
1        20         7
2        30         9

In [21]:
D = pd.DataFrame(
    data=[[10, 20, 30], [5, 7, 9]],   ### Core Array Type
    columns=['column-1', 'column-2', 'column-3'],
)

D

   column-1  column-2  column-3
0        10        20        30
1         5         7         9

In [33]:
D = pd.DataFrame(
    data=np.random.randn(10, 3),   ### Core Array Type
    columns=['column-1', 'column-2', 'column-3'],
)

D

   column-1  column-2  column-3
0 -0.017868  0.334203 -0.303441
1  1.242039 -1.573235  0.398785
2  2.299197 -0.584404 -1.446606
3 -2.080829 -0.829801 -0.833087
4  1.011048 -2.788340  0.171589
5  0.178460  0.422057  1.011606
6 -0.855109 -0.873845  0.615361
7 -0.046085  0.936224 -0.854065
8  0.242511  0.482887 -0.572309
9  1.739438 -2.675770 -1.538339

### [2]. Slicing:

In [41]:
D['column-1']   ### Column-wise

0   -0.017868
1    1.242039
2    2.299197
3   -2.080829
4    1.011048
5    0.178460
6   -0.855109
7   -0.046085
8    0.242511
9    1.739438
Name: column-1, dtype: float64

In [46]:
D[0:5]   ### Row-wise

   column-1  column-2  column-3
0 -0.017868  0.334203 -0.303441
1  1.242039 -1.573235  0.398785
2  2.299197 -0.584404 -1.446606
3 -2.080829 -0.829801 -0.833087
4  1.011048 -2.788340  0.171589

In [51]:
D.loc[0:5, ['column-1','column-2']]   ### Both row and column wised

   column-1  column-2
0 -0.017868  0.334203
1  1.242039 -1.573235
2  2.299197 -0.584404
3 -2.080829 -0.829801
4  1.011048 -2.788340
5  0.178460  0.422057

In [55]:
D = pd.DataFrame(
    data=np.random.randn(10, 3),   ### Core Array Type
)

D

          0         1         2
0  0.010509  0.445063 -0.523584
1 -1.339999  0.563242 -2.272761
2 -0.729984  1.187311 -0.457001
3 -0.966826 -0.165017  0.193191
4  0.460967  1.121088 -0.631655
5  0.931976  1.015918 -1.574367
6 -0.641913  0.950028 -0.897199
7  0.803434 -0.780186  0.509246
8 -1.779504  0.433843  1.426580
9 -0.826318  0.583453 -0.348962

In [59]:
D.iloc[0:5, 0:1]   ### Both row and column wised

          0
0  0.010509
1 -1.339999
2 -0.729984
3 -0.966826
4  0.460967