<a href="https://colab.research.google.com/github/mrzResearchArena/TF-2.X/blob/master/pandas-ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

### [1]. Data Frame:

In [26]:
D = pd.DataFrame(
    data={'column-1':[10, 20, 30], 'column-2':[5, 7, 9],}   ### Core Dictionary Type
)

D

   column-1  column-2
0        10         5
1        20         7
2        30         9

In [27]:
D = pd.DataFrame(
    data=[[10, 20, 30], [5, 7, 9]],   ### Core Array Type
    columns=['column-1', 'column-2', 'column-3'],
)

D

   column-1  column-2  column-3
0        10        20        30
1         5         7         9

In [28]:
D = pd.DataFrame(
    data=np.random.randn(10, 3),   ### Core Array Type
    columns=['column-1', 'column-2', 'column-3'],
)

D

   column-1  column-2  column-3
0  0.241763  1.812227 -1.682698
1 -0.515375 -0.655312 -0.326040
2  0.244457 -0.796213  0.631400
3  1.563980 -0.965852  0.210338
4 -1.478983  0.862366 -1.009567
5 -0.442345  2.034029 -0.785662
6  0.436978  1.530996  0.209624
7 -1.136764  0.090453  0.257697
8 -0.736450  2.150442  0.307616
9  0.466986  0.131794 -1.505759

### [2]. Slicing:

In [37]:
D['column-1']             ### Column-wise
# Note: D[['column-1']]   ### Column-wise; it is the same.

0    0.241763
1   -0.515375
2    0.244457
3    1.563980
4   -1.478983
5   -0.442345
6    0.436978
7   -1.136764
8   -0.736450
9    0.466986
Name: column-1, dtype: float64

In [39]:
# D['column-1', 'column-3']   ### Column-wise; Error!

D[['column-1', 'column-3']]   ### Column-wise; Fixed the error.

   column-1  column-3
0  0.241763 -1.682698
1 -0.515375 -0.326040
2  0.244457  0.631400
3  1.563980  0.210338
4 -1.478983 -1.009567
5 -0.442345 -0.785662
6  0.436978  0.209624
7 -1.136764  0.257697
8 -0.736450  0.307616
9  0.466986 -1.505759

In [43]:
D[0:5]                    ### Row-wise or, Sample-wise
# Note: D[0:5, 0:1]       ### Error

   column-1  column-2  column-3
0  0.241763  1.812227 -1.682698
1 -0.515375 -0.655312 -0.326040
2  0.244457 -0.796213  0.631400
3  1.563980 -0.965852  0.210338
4 -1.478983  0.862366 -1.009567

In [44]:
D.loc[0:5, ['column-1','column-2']]   ### Both row-wised and column-wised

   column-1  column-2
0  0.241763  1.812227
1 -0.515375 -0.655312
2  0.244457 -0.796213
3  1.563980 -0.965852
4 -1.478983  0.862366
5 -0.442345  2.034029

In [0]:
### Note-1: loc  --> MATLAB like indexing, column name should be exact.
### Note-2: iloc --> Python like indexing, column name convert into 0, 1, 2, and so on.

In [46]:
# D.loc[0:5, 0:1]   ### Error
D.iloc[0:5, 0:2]    ### Both row-wised and column-wised

   column-1  column-2
0  0.241763  1.812227
1 -0.515375 -0.655312
2  0.244457 -0.796213
3  1.563980 -0.965852
4 -1.478983  0.862366